#menu{
	position: relative;
	left: 45%;
}
@media(min-width: 992px){
#p1 h4{
    position: relative;
    left: 45%;
}
#p1{

    padding: 10px;
    border: 3px solid black;
    margin: 40px;
    background-color: #999DA0;
    width: 27%;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
}

#p2 h4{
    position: relative;
    left: 45%;
}
#p2{

    padding: 10px;
    border: 3px solid black;
    margin: 40px;
    background-color: #999DA0;
    width: 27%;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
}

#p3 h4{
    position: relative;
    left: 45%;
}
#p3{

    padding: 10px;
    border: 3px solid black;
    margin: 40px;
    background-color: #999DA0;
    width: 27%;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
}
}
@media(min-width: 768px) and (max-width: 991px){
	#p1 h4{
    position: relative;
    left: 45%;
}
	#p1 {
			padding: 10px;	
			border: 3px solid black;
			margin: 30px;
			width: 40%;
			box-sizing: border-box;
			background-color: #999DA0;
            float: left;
            
		}
		#p2 h4{
    position: relative;
    left: 45%;
}

		#p2{
			padding: 10px;
			border: 3px solid black;
			margin: 30px;
			width: 40%;
			box-sizing: border-box;
		  	background-color: #999DA0;
		  	
		  	float: right;
 		    
 		 }
#p3 h4{
    position: relative;
    left: 45%;
}

		#p3{
			padding: 10px;
			border: 3px solid black;
			margin: 30px;
			width: 800px;
			box-sizing: border-box;
			background-color: #999DA0;
            float: left;  
}
}
@media(max-width: 767px){
	#p1 {
            padding: 10px;
			border: 3px solid black;
			margin: 40px;
			width: 320px;
			box-sizing: border-box;
			background-color: #999DA0;
		}
		#p2 h4{
    position: relative;
    left: 45%;
}

		#p2{
			padding: 10px;
			border: 3px solid black;
			margin: 40px;
			width: 320px;
			box-sizing: border-box;
            background-color: #999DA0;
		}

		#p3{
			padding: 10px;
			border: 3px solid black;
			margin: 40px;
			width: 320px;
			box-sizing: border-box;
		    background-color: #999DA0;
		}
	    }

.nav-item{
	position: relative;
	left: 45%;
}